*{
	margin:0;
	padding:0;  
	box-sizing:border-box;
}
.container{
	width:85%;
	margin:0 auto;
	
}
.head h1{
	font-size:30px;
	color:blue;
	text-align:center;
}
.head p{
	color:rgb(172 172 172);
	text-align-last:center;
	font-style:italic;
	margin:15px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.col{
	margin-top:5% 	 ;
	width:23%;
	height:auto;
	box-shadow:0px 0px 1px #7d7777de;
	border:none;
	border-radius:5px;
	overflow:hidden;
	
}
.headtitle{
	font-size:25px;
	color:blue;
	background-color:#d3d3d324;
	text-align:center;
	border-radius:5px;
	padding:10px;
	position:relative;
}
.headtitle:hover{
	background-color:blue;
	color:white;
}
.content{
	font-size:30px;
	color:blue;
	font-weight:bolder;
	text-align:center; 
	padding-bottom:10px;
}
sub{
	color:rgb(172 172 172);
	font-weight:100;
}
.content-item p{
	font-size:20px;
	font-weight:lighter;
	text-align:center; 
	padding:8px 0;
	font-family:Bell MT;
}
button{
	height:40px;
	width:100px;
	border-radius:25px;
	color:white;
	border:none;
	background-color:blue;
	padding:5px;
	margin:0 30%;
}
button:hover{
	background-color:rgb(0 0 255 / 81%);
}
.btn{
	background-color:#d3d3d324;
	padding-top:20px;
	padding-bottom:20px;		
}
.headtitle p{
	background-color: #0980e8;
    position: absolute;
    width: 158px;
    height: 29px;
    padding: 4px 30px;
    transform: rotate(40deg);
    top: 19px;
    right: -35px;
    font-size: 20px;
    color: white;
    
}
